name: Manual Terraform Destroy

on:
 workflow_dispatch:
    inputs:
     confirm_destroy:
        description: "Type DESTROY to confirm destruction"
        required: true
        type: string

permissions:
  id-token: write
  contents: read

env:
  AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
  OIDC_ROLE_NAME: find-optimal-time-slot-github-oidc-role
  AWS_REGION: eu-west-1
  PYTHON_VERSION: 3.13
  TERRAFORM_VERSION: 1.13.5

jobs:
 destroy:
   runs-on: ubuntu-latest

   steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: ${{ env.TERRAFORM_VERSION }}

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT_ID }}:role/${{ env.OIDC_ROLE_NAME }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: Terraform Plan Destroy
        working-directory: terraform
        run: terraform plan -destroy

      - name: Terraform Destroy
        working-directory: terraform
        run: terraform destroy -auto-approve
